{% extends 'blog/base.html' %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4 fw-bold">Coding with Fkay</h1>
    <p class="lead text-muted">
        Learning Django, Python, Git, and backend engineering—one project at a time.
    </p>
</div>
<h2 class="mb-4">Latest Articles</h2>
    <div class="row">
        {% for blog in posts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ blog.image_url.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.author }}</p>
                    <a href="{% url 'detail' blog.id %}" class="btn btn-primary">Enjoy</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}