{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class="auth-container">
        <section class="auth-card" aria-labelledby="reset-heading">
            <div class="auth-header">
                <span class="section-label">CodePulse</span>
                <h1 id="reset-heading">Password updated</h1>
                <p>Your password has been reset. You can now sign in with your new password.</p>
            </div>
            <a class="auth-submit-link" href="{% url 'login' %}">Go to login</a>
        </section>
    </div>
</div>
{% endblock %}